{
    "env": {
      "production": {
        "plugins": ["transform-remove-console"]
      }
    },
    "plugins": [
      ["babel-plugin-root-import",{
        "rootPathPrefix": "@",
        "rootPathSuffix": "src/"
      }]
    ]
}